* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    flex-direction: column;
    position: relative;
    height: 100vh;
    display: flex;
    background-image: url(bg.jpg);

  }






  .kominal{
    margin:50px;
    position: absolute;
  }


  .memory-game {
    width: 650px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25.4%);
    height: calc(25.333%);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  .memory-card:hover {
    transform: scale(.97);
    transition: transform .3s;

  }
  
  
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .4s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(162, 16, 162);
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
